html{
    scroll-behavior: smooth;
}

body {
    text-align: center;
    width: 100%;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    }
    
    body *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    
       
/* INICIO NAVEGACION*/

.fondo-navbar {
    background-color:#10171D;
}

/* FINAL NAVEGACION*/


/* INICIO HEADER*/

.titulo, .titulo_ux{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
   } 

.subtitulo{
    font-family: 'Arial Narrow bold', sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Arial Narrow bold', sans-serif;
}

.logo_tipe{
    transition: all 0.2s ease;
}
.logo_tipe:hover{
    transform: scale(1.1) ;
}


a{
    text-decoration: none !important;
    text-decoration-color: white !important;
}


.cv__text{
    color: #10171D;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   

    
}
/* FIN HEADER*/


/* INICIO SECTION*/
.principal__section {
    background-color:#10171D;
    color: #ffffff;
    padding: 20px;
}

.parrafo__cursivo{
    font-style: italic;
    font-size: 15px;
}
/* FIN SECTION*/

/* INICIO MAIN*/
.principal__main {
    color:#10171D;
    background-color: #ffffff;
    padding: 20px;

}
/* FIN MAIN*/




/*mediaquery*/


@media (min-width: 300px) {
    .logo_tipe{
        display: none;
    }
    .head__top{
        display: none;
    }
    .img__mobile{
      height: 1000px;

    }
}
  
@media (min-width: 768px) {
    .head__top{
        display: block;
    }
    .logo_tipe{
        display: block;
    }

    .only__mobile, .boton__mobile{
        display: none !important;
    }

}

@media (min-width: 992px) {
    
    .logo_dos{
        height: 0px;
    }
    .titulo, .titulo_ux{
        text-align: left;
        font-size: 100px;
    }
    .sub{
        text-align: left;
    }
    .aqui__no{
        font-size: 20px;
    }
    .cv__text{
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
   
}
