html{
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/fondo-veggie2.png);
    text-align: center;
    width: 100%;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    }
    
    body *{
        margin: 0;
        padding: 0;
        border: 0;
    }

    .parrafo{
        font-weight: 300;
    }

/* INICIO NAVEGACION*/

.fondo-navbar {
    background-color:#10171D;
}
.threed:hover
{
box-shadow:
1px 1px #555454,
2px 2px #555454,
3px 3px #555454;
-webkit-transform: translateX(-10px);
transform: translateX(-10px);
transition: all 0.2s ease;
}

/* FINAL NAVEGACION*/


/* INICIO HEADER*/

.image-container {
    background-image: url(../img/headerux.png); /* The image used - important! */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 550px; /* Some height */
  }
  
  .text {
    background-color: rgba(0, 0, 0, 0.76) !important;  
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute !important; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
  }

  /* FIN HEADER*/
    
/* INICIO SECTION*/

.principal__section {
    background-color:rgba(0, 0, 0, 0.76);
    color: #ffffff;
    padding: 20px;
}

.texto_1{
    font-size: 20px;
}

/* FIN SECTION*/

/* INICIO MAIN*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    border: 1px rgb(255, 136, 0);
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .one{
      padding-top: 40px;
      text-align: center;
      margin: auto;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: 700;
      font-size: 100px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: rgb(255, 136, 0);
    color: #10171D;
  }
  .flip-card-back {
    background-color: #10171D;
    padding: 30px 10px 10px 10px;
    color:  rgb(255, 136, 0);
    transform: rotateY(180deg);
  }


/* FIN MAIN*/

/* INICIO SECUNDARY SECTION*/

.secundary__section {
    background-color:rgba(0, 0, 0, 0.76);
    color: #ffffff;
    padding: 20px;
}
.proceso{
    width: 100%;
}
.texto_1{
    font-size: 20px;
}
/* FIN SECTION*/

/* INICIO THIRD SECTION*/
.third__section{
    width: 100%;
    height: 100%;
    text-align: left;
}

.foto{
    text-align: center !important;
}

  /* INICIO FOOTER*/

  footer{
    text-align: center;
    background-color: #10171D;
}

  /* FIN FOOTER*/


  /*mediaquery*/


@media (min-width: 300px) {
    .text{
        font-size: 5vh;
    }
    .cliente{
        column-width: auto;
    }
    .investig1{
        width:90%;
    }
}
  
@media (min-width: 768px) {
    .investig1{
        width: 90%;
    }

}

@media (min-width: 992px) {
    .text{
        font-size: 8vh;
    }
    .investig1{
        width: 60%;
    }
}

@media (min-width: 1200px) {
    
}